
body{
   background-image: url('https://t4.ftcdn.net/jpg/03/78/97/59/360_F_378975954_G39M4ptXAjxKy80gbBIEo0wqBkk89gBF.jpg');
   background-repeat:no-repeat;
   background-position: center;
   background-size: 1500px 775px;
   font-family: montserrat;
   background-color: whitesmoke;
}
