
 <section class="home" id="home"></section>
<div class="form-group">
            <style>
            div {
            background-color:goldenrod;
            color:"rgb(30,30,30)";
            justify-content:center;
            align-items:center;
            border-radius:40px;
            box-shadow:19px 30px 47px 0px;
            width:360px;
            height:200px;
            padding:80px;
            margin:300px;
            margin-top:180px;
            margin-left: 450px;}
            </style>
                <p>
                
    
        Our Restuarant serves you the best you want.Our employes are always to help you serve whatever you like.Our main intension is to serve you the tasty food that you may remember in your life and that makes you to visit us again............

        </p>














